<a href="https://colab.research.google.com/github/ankitg-02/data_analysis/blob/main/Corporate.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
corporate_sales=pd.read_excel("/content/Sample-sales-data-excel.xls")

In [3]:
#count of corporate
count_corporate=0
for i in corporate_sales['Segment']:
  if i=='Corporate':
    count_corporate+=1
print("count of corporates=",count_corporate)
#count of products under category section from the copoerate segment
record_corporate=corporate_sales.groupby('Segment')
print(record_corporate.Category.get_group("Corporate").value_counts())

count of corporates= 3020
Office Supplies    1820
Furniture           646
Technology          554
Name: Category, dtype: int64

In [4]:
Corporate=np.array(corporate_sales.groupby('Segment'))

<ipython-input-4-e5a7983ffbc8>:1: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  Categroy_by_Corporate=np.array(corporate_sales.groupby('Segment'))