<a href="https://colab.research.google.com/github/ankitg-02/sales_analysis/blob/main/sales_via_product.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

In [2]:
product_sales=pd.read_excel("/content/Sample-sales-data-excel.xls")

In [3]:
product=pd.DataFrame(product_sales)

In [4]:
#checking the empty values in the dataset
product.isnull().sum()

Row ID           0
Order ID         0
Order Date       0
Ship Date        0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          0
Country          0
City             0
State            0
Postal Code      0
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
Quantity         0
Discount         0
Profit           0
dtype: int64

In [5]:
product.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   datetime64[ns]
 3   Ship Date      9994 non-null   datetime64[ns]
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: datetime64[ns](2), float64(3), int64(3), object(13)
memory usage: 1.6+ MB

In [6]:
d=product.describe(include='all')
d

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
count,9994.000000,9994,9994,9994,9994,9994,9994,9994,9994,9994,...,9994.000000,9994,9994,9994,9994,9994,9994.000000,9994.000000,9994.000000,9994.000000
unique,NaN,5009,NaN,NaN,4,793,793,3,1,531,...,NaN,4,1862,3,17,1850,NaN,NaN,NaN,NaN
top,NaN,CA-2017-100111,NaN,NaN,Standard Class,WB-21850,William Brown,Consumer,United States,New York City,...,NaN,West,OFF-PA-10001970,Office Supplies,Binders,Staple envelope,NaN,NaN,NaN,NaN
freq,NaN,14,NaN,NaN,5968,37,37,5191,9994,915,...,NaN,3203,19,6026,1523,48,NaN,NaN,NaN,NaN
mean,4997.500000,NaN,2016-04-30 00:07:12.259355648,2016-05-03 23:06:58.571142912,NaN,NaN,NaN,NaN,NaN,NaN,...,55190.379428,NaN,NaN,NaN,NaN,NaN,229.858001,3.789574,0.156203,28.656896
min,1.000000,NaN,2014-01-03 00:00:00,2014-01-07 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,...,1040.000000,NaN,NaN,NaN,NaN,NaN,0.444000,1.000000,0.000000,-6599.978000
25%,2499.250000,NaN,2015-05-23 00:00:00,2015-05-27 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,...,23223.000000,NaN,NaN,NaN,NaN,NaN,17.280000,2.000000,0.000000,1.728750
50%,4997.500000,NaN,2016-06-26 00:00:00,2016-06-29 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,...,56430.500000,NaN,NaN,NaN,NaN,NaN,54.490000,3.000000,0.200000,8.666500
75%,7495.750000,NaN,2017-05-14 00:00:00,2017-05-18 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,...,90008.000000,NaN,NaN,NaN,NaN,NaN,209.940000,5.000000,0.200000,29.364000
max,9994.000000,NaN,2017-12-30 00:00:00,2018-01-05 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,...,99301.000000,NaN,NaN,NaN,NaN,NaN,22638.480000,14.000000,0.800000,8399.976000
std,2885.163629,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,32063.693350,NaN,NaN,NaN,NaN,NaN,623.245101,2.225110,0.206452,234.260108

In [8]:
#sub-category items
sub_div=product.groupby("Sub-Category")

In [9]:
#count of every sub_category items
count_of_sub_div=sub_div.count()

In [10]:
#here showing the count of sub-category products in sorted order as per the alphabetic order
print(sub_div['Sales'].count().sort_values)

<bound method Series.sort_values of Sub-Category
Accessories     775
Appliances      466
Art             796
Binders        1523
Bookcases       228
Chairs          617
Copiers          68
Envelopes       254
Fasteners       217
Furnishings     957
Labels          364
Machines        115
Paper          1370
Phones          889
Storage         846
Supplies        190
Tables          319
Name: Sales, dtype: int64>

In [11]:
ship=product_sales.groupby("Ship Mode")

In [12]:
#specified lists
modified_segment=product['Segment']
modified_region=product['Region']
modified_ship_made=product['Ship Mode']
modified_profit=product['Profit']

In [13]:
#putting specified lists into a new dict and converting into a dataframe
modified_table={'Segment':modified_segment
                ,'Region':modified_region
                ,'Ship Mode':modified_ship_made
                ,'Profit':modified_profit}
pd.DataFrame(modified_table)

        Segment Region       Ship Mode    Profit
0      Consumer  South    Second Class   41.9136
1      Consumer  South    Second Class  219.5820
2     Corporate   West    Second Class    6.8714
3      Consumer  South  Standard Class -383.0310
4      Consumer  South  Standard Class    2.5164
...         ...    ...             ...       ...
9989   Consumer  South    Second Class    4.1028
9990   Consumer   West  Standard Class   15.6332
9991   Consumer   West  Standard Class   19.3932
9992   Consumer   West  Standard Class   13.3200
9993   Consumer   West    Second Class   72.9480

[9994 rows x 4 columns]

In [14]:
#initilising labelencoder
l=LabelEncoder()

In [15]:
#transferring the required categorial textual data into numerical data
Region_l=l.fit_transform(modified_table['Region'])
Ship_Mode_l=l.fit_transform(modified_table['Ship Mode'])
Segment_l=l.fit_transform(modified_table['Segment'])

In [16]:
#updating the dictionary
modified_table.update({'Region Modified':Region_l})
modified_table.update({'Ship Mode Modified':Ship_Mode_l})
modified_table.update({'Segment Modified':Segment_l})

In [17]:
#creating a new dataframe
data=pd.DataFrame(modified_table)

In [18]:
#droppping the textual data so as to make numerical data for the machine
data.drop(['Segment','Ship Mode','Region'],axis="columns")

        Profit  Region Modified  Ship Mode Modified  Segment Modified
0      41.9136                2                   2                 0
1     219.5820                2                   2                 0
2       6.8714                3                   2                 1
3    -383.0310                2                   3                 0
4       2.5164                2                   3                 0
...        ...              ...                 ...               ...
9989    4.1028                2                   2                 0
9990   15.6332                3                   3                 0
9991   19.3932                3                   3                 0
9992   13.3200                3                   3                 0
9993   72.9480                3                   2                 0

[9994 rows x 4 columns]

In [19]:
#splitting the data into x,y
x=data['Ship Mode Modified']
y=data.drop('Ship Mode Modified',axis=1)

In [20]:
#training and testing data
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=21,stratify=x)

In [23]:
from sklearn.tree import DecisionTreeClassifier